@model IEnumerable<BeautyMe.Models.Servico>

@{
    ViewBag.Title = "Index";
}

<h2>Meus Serviços</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        <span>
            <strong>Adicionar Serviço</strong>
        </span>
    </a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 text-center col-sm-6 col-xs-12">
            <div class="thumbnail product-box">
                @*<img src="prod3.jpg" alt="website template image" />*@
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p>Preço :<strong>R$ @Html.DisplayFor(modelItem => item.Preco)</strong></p>
                    <p>Tempo estimado de @Html.DisplayFor(modelItem => item.Tempo)</p>
                    <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                    <p>
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>