<link href="~/Content/cssDoGiovani.css" rel="stylesheet" />
@model IEnumerable<BeautyMe.Models.Servico>

@{
    ViewBag.Title = "Index";
}
<div style="margin-top:50px;">
    <header class="partner-header">
        <div class="partner-header--box">
            <div class="partner-header--box__iconbox">
                
            </div>
            <div class="partner-header--box__info">
                <p class="partner-header--box__infotitle">FIAP</p>
                <p>Barbearia</p>
                <p>São Paulo, Brazil</p>
            </div>
            <div class="partner-header--box__logobox">
                <img class="partner-header--box__logo" src="https://via.placeholder.com/80x80" alt="">
            </div>
        </div>
    </header>
    <main>
        <div class="home-content">
            <a href="@Url.Action("Create")">
                <i class="glyphicon glyphicon-plus"></i>
                Adicionar Serviço
            </a>
        </div>
        <div class="hr"></div>

        <div class="home-content">
            <div class="service-list">
                @foreach (var item in Model)
                {
                    <div class="service">
                        <div class="service--info">
                            <p class="service--info__title">@Html.DisplayFor(modelItem => item.Name)</p>
                            <p class="service--info__price">R$ @Html.DisplayFor(modelItem => item.Preco)</p>
                            <p class="service--info__data">Tratamento de: @Html.DisplayFor(modelItem => item.Tempo)</p>
                            <div class="service--actions">
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "service--actions__link" })
                                @Html.ActionLink("Remover", "Delete", new { id = item.Id }, new { @class = "service--actions__link" })
                            </div>
                        </div>
                        <div class="service--imagebox">
                            <img class="service--image" src="https://via.placeholder.com/180x120" alt="">
                        </div>
                    </div>
                }
            </div>
        </div>
    </main>

    <style>
        .body-content {
            padding-left: 0px;
            padding-right: 0px;
        }
    </style>

