<link href="~/Content/cssDoGiovani.css" rel="stylesheet" />
@model List<BeautyMe.Models.Agenda>
@{
    ViewBag.Title = "VerAgendaCliente";
}
<header class="partner-header" style="margin-top:50px;">
    <div class="partner-header--box">
        <div class="partner-header--box__iconbox">

        </div>
        <div class="partner-header--box__info">
            @if (Model.Count() > 0)
            {
                <p class="partner-header--box__infotitle">Minha Agenda</p>
                <p>@Model[0].Cliente.Name</p>
                <p>Perfil:Cliente</p>
            }
            else
            {
                <p class="partner-header--box__infotitle">Olá</p>
                <p>Você ainda não possui nenhum serviço agendado</p>
            }
        </div>
        <div class="partner-header--box__logobox">
            <img class="partner-header--box__logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg9KklT_g3z-hi6mtHCRxUDwCIdvT6qZivKK6qULTcLjl6xXdWFw" alt="">
        </div>
    </div>
</header>
<div class="home-content">
    <div class="product-list">
        @foreach (var item in Model.OrderBy(a=>a.Data))
        {
            <div class="product">
                <div class="product--imagebox">
                    <div class="agenda-date">
                        <div class="dayofmonth" style="font-size:3em;margin-right:25px">@item.Data.Day</div>
                        <div class="shortdate text-muted">@item.Data.Month/@item.Data.Year</div>
                    </div>
                </div>
                <div class="product--info">
                    <p class="product--info__title" style="font-size:1.5em;margin-bottom: 0px;">@item.Servico.Name</p>
                    <p class="product--info__item">Horario: @item.Data.Hour:@item.Data.Minute</p>
                    <p class="product--info__item">R$ @item.Servico.Preco</p>
                    <p class="product--info__item">Profissional: @item.Servico.Profissional.Name</p>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .body-content {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>