@model List<BeautyMe.Models.Agenda>
@{
    ViewBag.Title = "VerAgendaCliente";
}

<h2>Minha Agenda</h2>

<div class="agenda">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">@item.Data.Day</div>
                            <div class="shortdate text-muted">@item.Data.Month/@item.Data.Year</div>
                        </td>
                        <td class="agenda-time">
                           @item.Data.Minute:@item.Data.Second
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                @item.Servico.Name  com o profissional <b>@item.Servico.Profissional.Name</b>
                            </div>
                        </td>
                    </tr>



                }

            </tbody>
        </table>
    </div>
</div>