<link href="~/Content/cssDoGiovani.css" rel="stylesheet" />
@model BeautyMe.Models.Profissional

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login" style="margin-top:100px">
        <header class="login-header">
            <img class="login-header--img" src="https://i.imgur.com/mbkJKLb.png" alt="">
        </header>
        <main class="login-form">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "login-form--input", placeholder = "Nome" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "login-form--input", placeholder = "Sexo" } })
            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "login-form--input", placeholder = "CPF" } })
            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "login-form--input", placeholder = "Cidade" } })
            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })

            <button class="login-form--button" type="submit">Registrar</button>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </main>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
