@model List<BeautyMe.Models.Servico>
@{
    ViewBag.Title = "ListarServicos";
}


@using (Html.BeginForm("VerAgendaProfissional", "Agenda", FormMethod.Get, new { id = "verAgenda" }))
{
    <input type="hidden" id="profId1" name="profId1" />
}
@if (Model.Count() > 0)
{
    <h2>@Model[0].Profissional.Name</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center col-sm-6 col-xs-12">
                <div class="thumbnail product-box">
                    <div class="caption">
                        <a href="#" onclick="profId1.value = '@item.Profissional_Id',$('#verAgenda')[0].submit()"><h3>@item.Name</h3></a>
                            <p>Preço :<strong>R$ @Html.DisplayFor(modelItem => item.Preco)</strong></p>
                            <p>Tempo estimado :@Html.DisplayFor(modelItem => item.Tempo)</p>
                            <p>Descrição: @item.Descricao</p>
                        
                    </div>
                </div>
            </div>
        }
    </div>
}