<link href="~/Content/cssDoGiovani.css" rel="stylesheet" />
@model BeautyMe.Models.Cliente

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login" style="margin-top:100px">
        <header class="login-header">
            <img class="login-header--img" src="https://i.imgur.com/mbkJKLb.png" alt="">
        </header>
        <hr />
        <main class="login-form">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "login-form--input", placeholder = "Nome" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            <select class="login-form--input" id="Sexo" name="Sexo">
                <option value="fraca">Masculino</option>
                <option value="media">Feminino</option>
            </select>
            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "login-form--input", placeholder = "CPF" } })
            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
            
            @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "login-form--input", placeholder = "Pais" } })
            @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "login-form--input", placeholder = "Cidade" } })
            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "login-form--input", placeholder = "Bairro" } })
            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "login-form--input", placeholder = "CEP" } })
            @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "login-form--input", placeholder = "Complemento" } })
            @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
           

        </main>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading -primary">Dados da residencia</div>
        <div class="panel-body panel-body__beauty">

            <div class="form-group">
                @Html.ValidationMessageFor(model => model.Tomada110, "", new { @class = "text-danger" })
                <div class="beauty-col">
                    <div class="checkbox">

                        @Html.EditorFor(model => model.Tomada110, new { htmlAttributes = new { @class = "check-box" } })
                    </div>
                    @Html.LabelFor(model => model.Tomada110, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <span class="field-validation-valid text-danger" data-valmsg-for="Tomada110" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                @Html.ValidationMessageFor(model => model.Tomada220, "", new { @class = "text-danger" })
                <div class="beauty-col">
                    <div class="checkbox">

                        @Html.EditorFor(model => model.Tomada220, new { htmlAttributes = new { @class = "check-box" } })
                    </div>
                    @Html.LabelFor(model => model.Tomada220, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <span class="field-validation-valid text-danger" data-valmsg-for="Tomada220" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                @Html.ValidationMessageFor(model => model.Espelho, "", new { @class = "text-danger" })
                <div class="beauty-col">
                    <div class="checkbox">

                        @Html.EditorFor(model => model.Espelho, new { htmlAttributes = new { @class = "check-box" } })
                    </div>
                    @Html.LabelFor(model => model.Espelho, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <span class="field-validation-valid text-danger" data-valmsg-for="Espelho" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                @Html.ValidationMessageFor(model => model.Cadeira, "", new { @class = "text-danger" })
                <div class="beauty-col">
                    <div class="checkbox">

                        @Html.EditorFor(model => model.Cadeira, new { htmlAttributes = new { @class = "check-box" } })
                    </div>
                    @Html.LabelFor(model => model.Cadeira, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <span class="field-validation-valid text-danger" data-valmsg-for="Cadeira" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                @Html.ValidationMessageFor(model => model.Agua, "", new { @class = "text-danger" })
                <div class="beauty-col">
                    <div class="checkbox">

                        @Html.EditorFor(model => model.Agua, new { htmlAttributes = new { @class = "check-box" } })
                    </div>
                    @Html.LabelFor(model => model.Agua, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>

                <span class="field-validation-valid text-danger" data-valmsg-for="Agua" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Luz, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    <select class="form-control" id="Luz" name="Luz">
                        <option value="fraca">Fraca</option>
                        <option value="media">Média</option>
                        <option value="forte">Forte</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Luz, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <button class="login-form--button" type="submit">Registrar</button>
    @Html.ValidationSummary("", new { @class = "text-danger" })
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>

    .beauty-col {
        margin-left: 20px;
    }

    .panel-heading.-primary {
        background-color: #f95757;
        color: #ffffff;
        font-weight: 600;
    }

    .panel-body__beauty .control-label {
        padding-left: 0;
    }
</style>