<link href="~/Content/cssDoGiovani.css" rel="stylesheet" />
@model BeautyMe.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="login" style="margin-top:100px">
        <header class="login-header">
            <img class="login-header--img" src="https://i.imgur.com/mbkJKLb.png" alt="">
        </header>
        <main class="login-form">

            @Html.TextBoxFor(m => m.Email, new { @class = "login-form--input", placeholder = "Email" })
            @Html.PasswordFor(m => m.Password, new { @class = "login-form--input", placeholder = "senha" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "login-form--input", placeholder = "Confirmar senha" })

            <div class="form-group">
                <label class="radio-inline">@Html.RadioButtonFor(m => m.UserRoles, "Profissional") Sou um Profissional</label>
                <label class="radio-inline">@Html.RadioButtonFor(m => m.UserRoles, "Cliente") Sou um Cliente</label>
            </div>

            <button class="login-form--button" type="submit">Register</button>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </main>
    </div>
}


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
